---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services.astro";
import DreamCTA from "../components/DreamCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Stats />
    <Services />
    <Projects />
    <DreamCTA />
  </main>
  <Footer />
</Layout>
